# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Santosha Pullagura
	email = santoshapullagura@Santoshas-MacBook-Pro.local
[core]
	editor = code --wait
